<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="/product/layout::head"></head>
<body>
<!--[if lte IE 9]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade
    your browser</a> to improve your experience and security.</p>
<![endif]-->

<!-- header-start -->

<form class="form-group" th:action="@{/login}" method="post" th:object="${logins}">
    <div class="form-group">
        <label>Email:</label>
        <input type="text" class="form-control" th:field="*{email}"/>
    </div>
    <div class="form-group">
        <label>Password</label>
        <input type="text" th:field="*{password}" class="form-control">
    </div>
        <input type="submit" value="Login">
</form>
<th:block th:replace="/product/layout::footer"></th:block>
</body>
<th:block th:replace="/product/layout::jsfile"></th:block>

</html>