<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}">
    <title>Manage data</title>
</head>
<body>
<header th:replace="customer/layout::head"></header>
<th:block th:if="${message}">
    <div class="alert alert-success">
        <span th:text="${message}"></span>
    </div>

</th:block>

<h2>Delete customer</h2>
<form th:action="@{/delete-customer}" th:object="${customer}" method="post">
    <input th:type="hidden" name="id" th:field="*{id}">
    <div class="form-group">
        <label >First name:</label>
        <label th:text="*{firstName}"></label>
        <input type="text" class="form-control" th:field="*{firstName}"/>
    </div>
    <div class="form-group">
        <label >Last name:</label>
        <label th:text="*{lastName}"></label>
        <input type="text" class="form-control" th:field="*{lastName}"/>
    </div>

    <button class="btn btn-primary" type="submit">Delete customer</button>

</form>

</div>
</div>
<th:block th:replace="/customer/layout::footer"></th:block>
<th:block th:replace="/customer/layout::jsfiles"></th:block>
</body>
</html>

