<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/customer/layout::headerfiles">
    <meta charset="UTF-8">
    <title>Edit customer</title>
</head>
<body>
<header th:replace="/customer/layout::head"></header>
<h1>Edit customer</h1>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<!--<form th:action="@{/create-customer}" th:object="${customers}" method="post">-->
<form th:action="@{/view-customer}" th:object="${customer}" method="post">
    <input th:type="hidden" name="id" th:field="*{id}">
    <table>
        <tr>
            <td>First name:</td>
            <td><input type="text" th:field="*{firstName}"/></td>
        </tr>
        <tr>
            <td>Last name:</td>
            <td><input type="text" th:field="*{lastName}"/></td>
        </tr>
        <!--<tr>
            <td>Province:</td>
            <td>
                <input type="text" th:field="*{province.name}">
            </td>
        </tr>-->

    </table>
</form>
<th:block th:replace="/customer/layout::footer"></th:block>
<th:block th:replace="/customer/layout::jsfiles"></th:block>
</body>
</html>