@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
*{
    margin: 0px;
    padding: 0px;
}
body{
font-family: 'Lato', sans-serif !important;
}
ul.navbar-nav {
    
    height: 70px;
    margin-bottom: 6px;
    margin-top: -11px;
}

.end p {
    color: white;
    font-size: 22px;
    margin-bottom: 5px;
}

.end {
    background: #233140;
    padding: 14px 0 15px;
    
}
.form-row {
     padding-top: 17px;
}

.col-md-6.pa {
    font-size: 19px;
}

.xanh img {
    padding-bottom: 29px;
}
input.form-control {
    border: none;
    border-top: 1px solid #00000021;
    display: block;
    font-size: 22px;
    padding: 20px;
}

p.p {
    margin-right: 500px;
}

button.btn.btn-success.sub {
    margin: 23px;
    padding: 17px 22px;
    border-radius: 6px;
}

.contact {
    background: white;
    padding-top: 98px;
    margin-top:0px;
}
.contact .ngoisao {
    border-top: 4px solid;
    width: 220px;
}
.aa a {
    padding: 18px 18px 18px;
    border: 2px solid white;
    border-radius: 12px;
    background: none;
    color: #000000a1;
    font-size: 26px;
    transition: all 0.6s;
}

.aa a:hover {
    background: white;
    text-decoration: none;
}

a.button {
    font-size: 26px;
    padding: 14px;
    background: none;
    border: 1px solid white;
   
}

.text-center.aa {
    padding-top: 41px;
    padding-bottom: 22px;
}

.about a.btn-light {
    padding: 13px;
    font-size: 25px;
    background: none;
    border: 1px solid white;
    border-radius: 14px;}

.btn-light:hover {
    background: white;
}

.about h2 {
    font-size: 46px;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: white;
}

.about p {
    font-size: 19px;
    color: white;
}
.about .ngoisao li {background: white;}

.sanpham:hover .phongto {
    opacity: 1;
}
.phongto i {
    font-size: 45px;
    color: white;
    padding-top: 100px;
}

.sanpham {
    position: relative;
    margin-bottom: 17px;
    
}

.phongto {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #18bc9c;
    top: 0;
    left: 0;
    text-align: center;
    line-height: 100%;
    opacity: 0;
    transition: all 1s;
    cursor: pointer;
}
.protofilo .text-center {
    margin-top: -12px;
}
.protofilo {
    padding-top: 93px;
    margin: 0px;
    padding-bottom: 114px;
    opacity: 0;
    transition: all 0.6s;
    transform: translateX(-300px);
}

.protofilo.hienthisp {
    opacity: 1;
    transform: translateX(10px);
}

.loca li a {
    display: inline-block;
    color: white;
    border: 2px solid white;
    border-radius: 50%;
    padding: 10px;
    margin: 0px 10px;
    width: 50px;
    height: 50px;
    font-size: 19px;
    text-align: center;
    transition: all 0.5s;
}

.loca li {
    list-style: none;
    float: left;
}
.loca li a:hover{
    background-color: white;
    color: green;
}

.about {
    background: #18bc9c;
    padding: 100px 0 100px 0;
    color: white;
}
.xanh img.img-fluid {
    padding-bottom: 29px;
}

.ngoisao li.fa.fa-star {
    background: #18bc9c;
    width: 54px;
    line-height: 25px;
    font-size: 25px;
    padding-top: -35px;
    color: white;
    position: relative;
    top: -18px;
}

.contact li.fa.fa-star {
    background: white;
    color: black;
}

.contact li.fa.fa-star {
}
.protofilo .ngoisao li.fa.fa-star {
    background: white;
    color: black;
}
.ngoisao {
    width: 27%;
    border-top: 4px solid white;
    margin: auto;
    margin-top: 35px;
    margin-bottom: -3px;
    padding-top: 1px;
}

.ngoisao.sao {
    margin-top: 22px;
    margin-bottom: 2px;
}
.protofilo .ngoisao, .contact .ngoisao {
    boder-top: black;
    width: 189px;
    border-top: 5px solid black;
    margin-top: -15px;
    margin-bottom: 1px;
}
.protofilo.ngoisao i {
    background: white;
    color: black;}
.xanh h1 {
    color: white;
    font-weight: 700;
    font-size: 73px;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    padding-bottom: 0px;
  }
.protofilo h2, .contact h2 {
    font-size: 46px;
    font-family: bold;
    letter-spacing: 6px;
    padding-bottom: 34px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.xanh p {
    color: white;
    padding-bottom: 99px;
    font-size: 30px;
}
.navbar-light .navbar-nav a.nav-link {
    font-size: 18px;
    color: white;
    padding: 19px;
    font-weight: 700;
    margin-top: 15px;
    margin-bottom: 15px;
}

.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
    background: black;
    color: white !important;
}

.navbar-light .navbar-nav a.nav-link:hover, .navbar-light .navbar-nav a.nav-link:focus {
    color: #18bc9c;
}
.navbar-light a.navbar-brand {
    font-size: 32px;
    font-weight: 700;
    color: white;
    transition: all 0.4s;
    padding-top: -31px;
    }

.showsp a.navbar-brand {
    font-size: 20px;
    color: green;
}
.navbar-light a.navbar-brand:hover {
    color: #18bc9c;
}
nav.navbar.navbar-expand-lg.navbar-light {
       background-color:#2c3e50;
       transition: all 0.4s;
       padding: 8px 0 8px;
}

nav.navbar.navbar-expand-lg.navbar-light.menuu.fixed-top.showsp {
    background-color: pink;
    padding: 3px 0 3px;
}

nav.navbar.navbar-expand-lg.navbar-light.menuu.fixed-top.thaydoi {
    padding: 1px 0 1px;
}
.xanh{
    background-color: #18bc9c;
    padding: 198px 0px 0px 0px;
    margin: 0px;
}
.loca{
    background: #2c3e50;
    padding-top: 78px;
    color: white;
    padding-bottom: 65px;

}
.loca p{
    font-size: 20px;
}


